---
import { getCollection } from 'astro:content';
import TimeLineElement from '../components/cv/TimeLine.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const experience = await getCollection('experience');
const education = await getCollection('education');
const skills = (await getCollection('skills'))[0].data;
const certifications = (await getCollection('certifications'))[0].data;
const profile = (await getCollection('profile'))[0].data;
const learning = (await getCollection('learning'))[0].data;

// changeLanguage("en");
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{profile.title}</div>
  </div>
  <div class="mb-10 text-justify whitespace-pre-line">
    <Fragment set:html={profile.description} />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Most Recent Experience</div>
  </div>
  <div class="time-line-container mb-10">
    {
      experience
        .sort(
          (a, b) =>
            new Date(b.data.startDate ?? 0).getTime() - new Date(a.data.startDate ?? 0).getTime()
        )
        .map(item => (
          <TimeLineElement title={item.data.title} subtitle={item.data.subtitle}>
            <Fragment set:html={item.data.description} />
          </TimeLineElement>
        ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    {
      education.map(item => (
        <TimeLineElement title={item.data.title} subtitle={item.data.subtitle} />
      ))
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    {certifications.map(item => <li>{item}</li>)}
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    {skills.map(item => <li>{item}</li>)}
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Currently Learning</div>
  </div>
  <ul class="list-disc md:columns-2 columns-1 mx-6 mb-10">
    {learning.map(item => <li>{item}</li>)}
  </ul>
</BaseLayout>
