---
// import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SideBar from '../components/SideBar.astro';

import BaseHead from '../components/BaseHead.astro';
import { GITHUB_URL, SITE_CREATOR, TRANSITION_API } from '../config';

const {
  image,
  title = 'Alessandro Incantalupo',
  description = "Alessandro Incantalupo's personal portfolio showcasing his skills, experiences, and projects as a Software Engineer at Accenture. Connect with me today!",
  includeSidebar = true,
  sideBarActiveItemID,
  ogType
} = Astro.props;
---

<html lang="en" class="min-h-screen justify-between">
  <BaseHead title={title} description={description} image={image} , ogType={ogType}>
    {TRANSITION_API && <ViewTransitions />}
  </BaseHead>
  <body class="flex flex-col min-h-screen justify-between">
    <Header title={SITE_CREATOR} />
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div
        class="drawer-content bg-base-100 flex flex-col justify-between align-middle min-h-screen"
      >
        <div class="md:flex md:flex-col md:items-center justify-between flex-grow w-full">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw] flex-grow w-full">
            <slot />
          </main>
          <Footer gitHubUrl={GITHUB_URL} siteCreator={SITE_CREATOR} />
        </div>
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>
